* {
    padding: 0px;
    margin: 0px;
    flex-wrap: wrap;
}

.navebar {
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navebar__s1 {
    color: blueviolet;
}

.navebar__s2 {
    padding: 10px;
    margin: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 70%;
    height: 20%;
    display: flex;
    gap: 10px;
}

.navebar__s2 input:focus {
    outline: none;
    background-color: transparent;
}

.navebar img {
    width: 20px;
}

.navebar input {
    border: none;
}

.navebar__s3 {
    display: flex;
    gap: 10px;
    position: relative;
    cursor: pointer;
}

.learn__fouse {
    border: solid black 1px;
    position: absolute;
    margin: 10px;
    top: 20px;
    left: 0px;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 10px;
    display: none;
    z-index: 1;
}
.learn:hover .learn__fouse{
    display: block;
}
.navebar__s3 img {
    width: 20px;
    height: 20px;
}
.navebar__s4{
    display: none;
}

.coatagries {
    display: flex;
    padding: 7px;
    justify-content: space-between;
    border-bottom: solid black 1px;
    margin: 10px;
    cursor: pointer;
}
.coatagries p:hover{
    transition: 1s;
    background-color: aliceblue;
    color:darkmagenta;
    border: solid 1px;
    
}
.coatagries p {
    background-color: blueviolet;
    color: aliceblue;
    padding: 7px;
    border-radius: 30px;
}

.pic img {
    width: 100%;
}

.pic {
    position: relative;

}

.offer {
    border: solid black 1px;
    background-color: aliceblue;
    color: black;
    padding: 10px;
    margin: 50px;margin-left: 20px;
    position: absolute;
    top: 0px;
    animation-name: zoom;
    animation-duration: 3s;
}
@keyframes zoom{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
.card{
    flex-grow: 1;
  flex-basis: 25%;
}
.recommended{
       padding: 10px;   
    text-align: center;
}
.recommended__container {
  display: flex;
 justify-content: space-between;


}

.recommended__container img {
    width: 200px;
    height: 200px;
}

.Topic {
    padding: 10px;
    margin: 10px;
}

.Topic__container {
    display: flex;
    padding: 10px;
    gap: 10px;

}

.Topic__container p {
    padding: 5px;
    border: solid black 1px;
    border-radius: 10px;
    flex-grow: 1px;
    flex-basis: 30%;
    text-align: center;
}

.popular {
    padding: 10px;
}

.popular__container {
    padding: 10px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.popular__container img {
    width: 200px;
    height: 200px;
}

.foolter {
    padding: 10px;
    margin: 10px;
    background-color: black;
    color: aliceblue;
}

.foolter__one {
    display: flex;
    padding: 10px;
    gap: 30px;
}

.foolter__one p {
    padding: 10px;
}

.foolter__two {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
@media screen and (max-width:800px) {
    body{
   font-size:10px ;
    }
}
 @media screen and (max-width:500px) {
   .recommended__container{
flex-basis: 10%;
gap: -5px;
    }
    .coatagries{
        display: none;
    }
    .navebar__s2,.navebar__s3{
        display: none;
    }
    .navebar__s4{
        display: block;
    }
    .card{
        width:50% ;
    }
 }